{% include 'usersView/header.html' %}
{% include 'usersView/nav.html' %}
<div class="container pull-center">
<h1>About</h1>
<img src="{{ base_url() }}/resource/logo/25437185_1538767009540099_1275493324_n.png">
<p>
“Catering JO” is a website that put  together all the catering companies in one place to simplify to the user the process of choosing and <br> ordering from these companies and know more about the services they provide.
</p>
<p>
“Catering JO” will provide its user with the restaurants and catering companies that provides them with their services according to the customer’s needs.
</p>
</div>

{% include 'usersView/footer.html' %}