
 {% include 'usersView/header.html' %}
<body>
   
{% include 'usersView/nav.html' %}
{% block content %}{% endblock %}

{% include 'usersView/sidebar.html' %}

{% include 'usersView/footer.html' %}




</body>
</html>